body{
	background-color: rgba(228,228,228,1);
}
.tab-panel{
	background-color: rgb(0,0,0);
	border-top: rgba(49,49,49,1);
	border-bottom: rgba(49,49,49,1);
	height: 67px;
	position: relative;
	letter-spacing: 0.2em;
	min-width: 1200px;
}
.container{
	position: 0px;
}
.panel-heading{
	padding:0px;
}
.panel-content{
	padding: 0px;
	
}
.dropdown-menu{
	transform: translateX(-3px);
}
#veste{
	font:normal normal normal 25px/1.4em sans-serif;
	color: #939393;
	padding: 5px 10px 0px 10px;
}
#veste:hover{
	color: #FDFDFD;
	transition: 0.6s ease 0s;
	text-decoration: none;
}

#home{
	font:normal normal normal 15px/1.4em sans-serif;
	color: #939393;
	padding: 0px 10px;
}
#collection{
	font:normal normal normal 15px/1.4em sans-serif;
	color: #939393;
	padding: 0px 10px;
	transition: 0.6s;
}
#women,#men,#sale,#accessories{
	padding: 5px 5px 5px 1px;
}
#lookback{
	font:normal normal normal 15px/1.4em sans-serif;
	color: #939393;
	padding: 0px 10px;
}
#customercare{
	font:normal normal normal 15px/1.4em sans-serif;
	color: #939393;
	padding: 0px 10px;
}
#visitus{
	font:normal normal normal 15px/1.4em sans-serif;
	color: #939393;
	padding: 0px 10px;
}
.first-image
{
	-webkit-animation:bannermove 40s ease-out infinite;
	-moz-animation:bannermove 40s ease-out infinite;
	-ms-animation:bannermove 40s ease-out infinite;
	-o-animation:bannermove 40s ease-out infinite;
	animation:bannermove 40s ease-out infinite;
}
@keyframes "bannermove"{
	0%{margin-left: 0px;}
	5%{margin-left:-440px;}
	10%{margin-left:-440px;}
	15%{margin-left:-880px;}
	20%{margin-left:-880px;}
	25%{margin-left:-1320px;}
	30%{margin-left:-1320px;}
	35%{margin-left:-1760px;}
	40%{margin-left:-1760px;}
	45%{margin-left:-2200px;}
	50%{margin-left:-2200px;}
	55%{margin-left:-2640px;}
	60%{margin-left:-2640px;}
	65%{margin-left:-3080px;}
	70%{margin-left:-3080px;}
	75%{margin-left:-3520px;}
	80%{margin-left:-3520px;}
	85%{margin-left:-3960px;}
	90%{margin-left:-3960px;}
	95%{margin-left:-4400px;}
	100%{margin-left:-4400px;}
}
@-moz-keyframes "bannermove"{
	0%{margin-left: 0px;}
	5%{margin-left:-440px;}
	10%{margin-left:-440px;}
	15%{margin-left:-880px;}
	20%{margin-left:-880px;}
	25%{margin-left:-1320px;}
	30%{margin-left:-1320px;}
	35%{margin-left:-1760px;}
	40%{margin-left:-1760px;}
	45%{margin-left:-2200px;}
	50%{margin-left:-2200px;}
	55%{margin-left:-2640px;}
	60%{margin-left:-2640px;}
	65%{margin-left:-3080px;}
	70%{margin-left:-3080px;}
	75%{margin-left:-3520px;}
	80%{margin-left:-3520px;}
	85%{margin-left:-3960px;}
	90%{margin-left:-3960px;}
	95%{margin-left:-4400px;}
	100%{margin-left:-4400px;}
}
@-o-keyframes "bannermove"{
	0%{margin-left: 0px;}
	5%{margin-left:-440px;}
	10%{margin-left:-440px;}
	15%{margin-left:-880px;}
	20%{margin-left:-880px;}
	25%{margin-left:-1320px;}
	30%{margin-left:-1320px;}
	35%{margin-left:-1760px;}
	40%{margin-left:-1760px;}
	45%{margin-left:-2200px;}
	50%{margin-left:-2200px;}
	55%{margin-left:-2640px;}
	60%{margin-left:-2640px;}
	65%{margin-left:-3080px;}
	70%{margin-left:-3080px;}
	75%{margin-left:-3520px;}
	80%{margin-left:-3520px;}
	85%{margin-left:-3960px;}
	90%{margin-left:-3960px;}
	95%{margin-left:-4400px;}
	100%{margin-left:-4400px;}
}

@-webkit-keyframes "bannermove"{
	0%{margin-left: 0px;}
	5%{margin-left:-440px;}
	10%{margin-left:-440px;}
	15%{margin-left:-880px;}
	20%{margin-left:-880px;}
	25%{margin-left:-1320px;}
	30%{margin-left:-1320px;}
	35%{margin-left:-1760px;}
	40%{margin-left:-1760px;}
	45%{margin-left:-2200px;}
	50%{margin-left:-2200px;}
	55%{margin-left:-2640px;}
	60%{margin-left:-2640px;}
	65%{margin-left:-3080px;}
	70%{margin-left:-3080px;}
	75%{margin-left:-3520px;}
	80%{margin-left:-3520px;}
	85%{margin-left:-3960px;}
	90%{margin-left:-3960px;}
	95%{margin-left:-4400px;}
	100%{margin-left:-4400px;}
}
a
{
	color: black;
}
a:hover
{
	text-decoration: none;
	color: grey;
}
.vr{
	width: 2px;
	background-color: #c7c7c7;
	position: absolute;
	float: left;
	left:25%; 
	height: 130px;
}
.custom{
	position: absolute;
	left: 30%;
}