body {
  background: grey;
  background: -webkit-repeating-radial-gradient(grey,black);
  background: -o-repeating-radial-gradient(grey,black);
  background: -moz-repeating-radial-gradient(grey,black);
  background: repeating-radial-gradient(grey,black);
  background-repeat: no-repeat;
  background-size: cover; 
  height: 581px;
  font-family: "Open Sans", Helvetica;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}
label .label-text1,.label-text2{
  color: #9B9B9B;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}
input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: white;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 150px;
}
label input:focus {
  width: 400px;
}
label input:focus + #label-texta,input:focus + #label-textb{
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
#value-exists{
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px); 
}

.submit{
	background-color: rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
	font-size: 20px;
	transition: all 200ms;
	border: 2px solid-white;
	border-radius: 27px;
	padding: 15px 30px;
	position: relative;
}
.submit:hover {
	background-color: white;
	color: #333333;
	outline: 0;
}
form{
  background-color: rgba(0,0,0,0.5); 
  text-align: center;
  margin: 5% 15% 0% 15%;
  border-width: 50px;
  border-radius: 6px;
  border-color: #ffffff;
  height: 100%;
}